.App {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.hero {
  background: linear-gradient(to right, #6a11cb, #9dacc4);
  color: rgb(238, 233, 233);
  padding: 60px 20px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 40px;
}

.hero h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.cta-button {
  background-color: #ff6b6b;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.cta-button:hover {
  background-color: #ff8787;
}


.donation {
  background-color: #cdd7e2;
  padding: 40px 20px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 40px;
}

.donation h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.donation p {
  font-size: 1.1em;
  margin-bottom: 30px;
}

.donation form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.donation input {
  padding: 10px;
  font-size: 1em;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.donation button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.donation button:hover {
  background-color: #45a049;
}


.pet-cards {
  padding: 40px 20px;
}

.pet-cards h2 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 30px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  border: 1px solid #d6dbdd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  font-size: 1.2em;
  margin: 10px;
}

.card p {
  margin: 10px;
  color: #666;
}

.card button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ad8fe1;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {
  .hero h1 {
    font-size: 2em;
  }

  .hero p {
    font-size: 1em;
  }

  .donation form {
    flex-direction: column;
    align-items: center;
  }

  .donation input {
    width: 100%;
    max-width: 300px;
  }

  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

.footer p {
  margin: 5px 0;
}

.social-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

.social-links a:hover {
  color: #007bff;
}
